.player1 h3 {
    text-align: left;
}

.player2 h3 {
    right: 5px;
}

.field {
    font-size: 25px;
}

.topc {
    position: relative;
    top: 1px;
    margin: 0;
}

.midc {
    position: relative;
    top: 10px;
    margin: 0;
}

.botc {
    position: relative;
    top: 50px;
    margin: 0;
}

.c1 {position: relative; left: 10%;}
.c2 {position: relative; left: 12.5%;}
.c3 {position: relative; left: 15%;}
.c4 {position: relative; left: 10%;}
.c5 {position: relative; left: 12.5%;}
.c6 {position: relative; left: 15%;}
.c7 {position: relative; left: 10%;}
.c8 {position: relative; left: 12.5%;}
.c9 {position: relative; left: 15%;}
