{% extends "html/wrapper.html" %}
{% block content %}

{% load static %}
<link rel="stylesheet" href="{% static '/css/game.css' %}" type="text/css">
<script src="{% static 'js/game.js'%}"></script>

<div class="player1">
    <h2>ВЫ({{player1}})</h2>
    <h3>Ожидание хода...</h3>
</div>
<hr>
<h1 id="VS">VS</h1>
<div class="player2">
    <h2>player002</h2>
    <h3>Cейчас не ваш ход</h3>
</div>
<table class="field">
    <tr>
        <td>X</td>
        <td>X</td>
        <td>X</td>
    </tr>
    <tr>
        <td>X</td>
        <td>X</td>
        <td>X</td>
    </tr>
    <tr>
        <td>X</td>
        <td>X</td>
        <td>X</td>
    </tr>
</table>

<!--    {% for player in list_players %}
        <a href="game/{{player.id}}">{{player.name}}</a>
    {% endfor %} !-->
{% endblock %}