{% extends "html/wrapper.html" %}
{% block content %}

{% load static %}
<link rel="stylesheet" href="{% static '/css/game.css' %}" type="text/css">
<script src="http://code.jquery.com/jquery-latest.js"></script>

<table class="content">
    <tr>
        <td class="player1"><h5>ВЫ({{player1}})</h5></td>
        <td><h1 id="VS">VS</h1></td>
        <td class="player2"><h5>player002</h5></td>
    </tr>
    <tr>
        <td><h6 id="descr_player1">Ожидание хода...</h6></td>
        <td class="field_cells">
            <table class="field">

                <form action="main" method="post">
                    {% csrf_token %}
                <tr>
                    <td class="cell"><button class="custom_btn" name="coords" type="submit" value="00">{{field.0.0}}</button></td>
                    <td class="cell"><button class="custom_btn" name="coords" type="submit" value="01">{{field.0.1}}</button></td>
                    <td class="cell"><button class="custom_btn" name="coords" type="submit" value="02">{{field.0.2}}</button></td>
                </tr>
                <tr>
                    <td class="cell"><button class="custom_btn" name="coords" type="submit" value="10">{{field.1.0}}</button></td>
                    <td class="cell"><button class="custom_btn" name="coords" type="submit" value="11">{{field.1.1}}</button></td>
                    <td class="cell"><button class="custom_btn" name="coords" type="submit" value="12">{{field.1.2}}</button></td>
                </tr>
                <tr>
                    <td class="cell"><button class="custom_btn" name="coords" type="submit" value="20">{{field.2.0}}</button></td>
                    <td class="cell"><button class="custom_btn" name="coords" type="submit" value="21">{{field.2.1}}</button></td>
                    <td class="cell"><button class="custom_btn" name="coords" type="submit" value="22">{{field.2.2}}</button></td>
                </tr>
                </form>
            </table>
        </td>
        <td><h6 id="descr_player2">Сейчас не ваш ход!</h6></td>
    </tr>
</table>
<h1>{{coords}}</h1>
<!-- <div class="player1">
    <h2>ВЫ({{player1}})</h2>
    <h3 id="descr_player1">Ожидание хода...</h3>
</div>
<hr>
<h1 id="VS">VS</h1>
<div class="player2">
    <h2>player002</h2>
    <h3 id="descr_player2">Cейчас не ваш ход</h3>
</div> !-->
<script src="{% static 'js/game.js'%}"></script>

{% endblock %}