{% extends "html/wrapper.html" %}
{% block content %}

{% load static %}
<link rel="stylesheet" href="{% static '/css/game.css' %}" type="text/css">

<div class="player1">
    <h3>ВЫ(player001)</h3>
    <hr>
</div>
<h1>VS</h1>
<div class="player2">
    <h3>player002</h3>
    <hr>
</div>
<div class="field">
    <div class="c1 topc">t</div>
    <div class="c2 topc">t</div>
    <div class="c3 topc">t</div>
    <div class="c4 midc">m</div>
    <div class="c5 midc">m</div>
    <div class="c6 midc">m</div>
    <div class="c7 botc">b</div>
    <div class="c8 botc">b</div>
    <div class="c9 botc">b</div>
</div>

    {% for player in list_players %}
        <a href="game/{{player.id}}">{{player.name}}</a>
    {% endfor %}
{% endblock %}