div.title {
    text-align: center;
    text-decoration: underline;
}

legend {
    text-align: center;
    font-size: 30px;
    background-color: darkred;
    padding: 10px;
    color: white;
    letter-spacing: 5px;

}

fieldset {
    border-color: darkred;
    border-width: 5px;
    border-radius: 50px;
}

form.form {
    position: relative;
    left: 42%;
}

.play {
    transition: 1s;
    position: relative;
    height: 100px;
    width: 175px;
    font-size: 200%;
    background: darkcyan;
    color: white;
    border: 3px solid black;
    border-radius: 30px;
    cursor: pointer;
    letter-spacing: 2px;
}

.play:hover {
    background-color: cyan;
    border-color: gray;
}

.play:focus {
    background-color: aqua;
}

.username {
    outline: none;
    transition: 1s;
    border-top-width: 0;
    border-right-width: 0;
    border-left-width: 0;
    border-bottom-width: 3px;
    position: relative;
    height: 50px;
    width: 500px;
    left: -13%;
    font-size: 25px;
    text-align: center;
}

.username:hover {
    border-color: cadetblue;
    font-size: 30px;
}