div.title {
    text-align: center;
}

form.form {
    position: relative;
    left: 42%;
}

.play {
    position: relative;
    height: 100px;
    width: 175px;
    font-size: 200%;

    background: darkcyan;
    color: white;

    border: 5px solid black;
    border-radius: 30px;
}

.username {
    position: relative;
    height: 50px;
    width: 450px;
    left: -10%;
    font-size: 30px;
    text-align: center;
    background-color: #f2f2f2;
    border-width: 3px;
    border-style: outset;
    border-radius: 10px;
}

legend {
    text-align: center;
    font-size: 20px;
}