{% extends "html/wrapper.html" %}
{% block content %}

{% load static %}
<link rel="stylesheet" href="{% static '/css/main.css' %}" type="text/css" />

<div class="title">
    <h1>Крестики-Нолики</h1>
</div>
<fieldset><br>
    {% load static %}
    <img src="{% static 'imgs/main/field.png' %}" class="decoration_img left_img">
    <img src="{% static 'imgs/main/field.png' %}" class="decoration_img right_img">
    <legend>ВВЕДИТЕ ИМЯ И НАЖМИТЕ ИГРАТЬ</legend>
    <form action="/game" method="get" class="form">
        <label>
            <input type="text" name="username" maxlength="20" required="required" class="username" placeholder="Введите имя(до 20-ти символов)">
        </label>
        <br><br>
        <input type="submit" name="play" class="play" value="ИГРАТЬ">
    </form>
</fieldset>

{% endblock %}